* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0076D4;
}

.bg-blue {
    background: #0076D4;
}

.navbar-toggler {
    /* position: absolute; */
    right: .5rem;
    top: 1rem;
    border: 2px solid #C34DBF;
    color: #C34DBF;
}

.navbar-collapse {
    display: grid;
}

.nav-item {
    width: 5rem;
}

.nav-link {
    padding: 0;
    color: white;
}

.nav-link:hover {
    color: white;
}

.container {
    display: flex;
    justify-content: center;
}

h1 > :first-child {
    color: #C3B7B7;
}

h1 > :nth-child(2) {
    color: #FFFFFF;
}

h1 > :nth-child(4) {
    color: #C34DBF;
}

.btn {
    background: #C34DBF;
    color: #FFFFFF;
}

.btn:hover {
    background: #C34DBF;
    color: #FFFFFF;
}

#rules {
    width: 100%;
}

.container-game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 14rem 5rem 18rem; */
    text-align: center;
}

figure > img {
    width: 8rem;
}

#rock {
    margin: 1rem 0 0 1rem ;
    text-align: right;
    grid-column: 2;
    grid-row: 1;
}

#paper {
    margin: 1rem 1rem 0 0;
    text-align: left;
    grid-column: 4;
    grid-row: 1;
}

#start {
    margin-top: .5rem;
    grid-column: 3;
    grid-row: 2;
}

#start-game {
    height: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #C3B7B7;
}

#start-game:hover {
    font-size: 1.2rem;
    border: 2px solid #C3B7B7;
}

#scissors {
    margin-top: 2rem;
    grid-column: 3;
    grid-row: 3;
}

#rock.hover > img:hover, 
#paper.hover > img:hover, 
#scissors.hover > img:hover {
    border-radius: 50%;
    border: 1rem solid #C34DBF;
}